main {
  margin-top: 65px;
  margin-left: 290px;


  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  
  width: 2165px;
}

.day-container {
  min-width: 290px;
  max-width: 290px;
  border-radius: 13px;
  border: 2px solid #D5D4DF;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.last-day-container {
  margin-right: 50px;
}

.day-container-header {
  background-color: #F2F3F7;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #D5D4DF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.day-title {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 12px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 17px;
}

.date {
  margin-right: 7px;
  color: rgb(60,91,120);
}

.day-of-week {
  color: #97AEBE;
}

.add-todo-to-day {
  margin-left: 10px;
  margin-right: 10px;
  height: 38px;
  border-radius: 10px;
  border: none;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #97AEBE;
  font-size: 13px;

  position: relative;
}

.input-todo-day {
  width: 100%;
  height: 35px;
  padding-left: 30px;
  border: none;
  border-radius: 10px;
  color: rgb(60,91,120);
  font-size: 15px;
}

/* Изменение цвета плейсхолдера */
.input-todo-day::placeholder {
  color: #97AEBE; /* Цвет плейсхолдера */
  opacity: 1; /* Устанавливаем непрозрачность на 1, чтобы цвет был полностью видимым */
  font-size: 13px;
  font-weight: 400;
}

.add-todo-day-icon {
  position: absolute;
  top: 12px;
  left: 10px;
  height: 14px;
}

.todo-day-list {
  min-height: 0;
  max-height: 460px;
  overflow-y: scroll;
  flex: 1;
}

.todo-day-container {
  padding: 12px 10px;
  background-color: rgb(122, 173, 194);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  color: white;
  font-weight: 700;
}