.side-bar-container {
  /*  ширна произвольная, не стесняйтесь экспериментировать */
  width: 280px;
  min-width: 280px;
  /* фиксируем и выставляем высоту панели на максимум */
  position: fixed;
  top: 55px;
  bottom: 0;
  margin: 0;
  /* сдвигаем (прячем) панель относительно левого края страницы */
  left: 0;
  /* внутренние отступы */
  padding: 10px 10px;
  /* плавный переход смещения панели */
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
  /* определяем цвет фона панели */
  background: #F2F3F7;
  /* поверх других элементов */
  z-index: 2000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar-container {
  margin: 0;
  height: 278px;
  min-height: 278px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}

.calendar {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 30px;
  padding-left: 85px;
  font-size: 18px;
  color: rgb(60,91,120);
  border: 3px solid rgb(60,91,120);
  border-radius: 10px;
  background: #fff;
}

.add-todo-to-stack {
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 270px;
  font-size: 13px;
  color: #97AEBE;
  background: #fff;

  height: 38px;
  border-radius: 30px;
  border: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;
}

.input-todo {
  width: 100%;
  height: 35px;
  padding-left: 95px;
  border: none;
  border-radius: 10px;
}

/* Изменение цвета плейсхолдера */
.input-todo::placeholder {
  color: rgb(60,91,120); /* Цвет плейсхолдера */
  opacity: 1; /* Устанавливаем непрозрачность на 1, чтобы цвет был полностью видимым */
  font-size: 13px;
  font-weight: 400;
}

.add-stack-icon {
  position: absolute;
  top: 12px;
  left: 70px;
  height: 14px;
}

.stack-list-container {
  border: 3px solid rgb(60,91,120);
  border-radius: 5px;
  max-height: 320px;
  min-height: 0px;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 260px;
  overflow-y: scroll;
}

.todo-container-stack {
  padding: 12px 10px;
  background-color: rgb(60,91,120);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  color: white;
  font-weight: 700;
}



.count-todo-in-stack-list {
  height: 20px;
  text-align: start;
  padding-top: 7px;
  color: rgb(60,91,120);
  font-size: 13px;
  font-weight: 700;
}