.side-bar-container {
  /*  ширна произвольная, не стесняйтесь экспериментировать */
  width: 290px;
  min-width: 290px;
  /* фиксируем и выставляем высоту панели на максимум */
  position: fixed;
  top: 55px;
  bottom: 0;
  margin: 0;
  /* сдвигаем (прячем) панель относительно левого края страницы */
  left: 0;
  /* внутренние отступы */
  padding: 10px 10px;
  /* плавный переход смещения панели */
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
  /* определяем цвет фона панели */
  background: #F2F3F7;
  /* поверх других элементов */
  z-index: 2000;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calendar-container {
  margin: 0;
  height: 278px;
  min-height: 278px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: flex-start;
}

.calendar {
  width: 240px;
  padding: 10px 10px;
  height: 15px;
  border: 1px solid #dcdcff;
  border-radius: 5px;
  background: #fff;
}

.stack-title-container {
  display: flex;
  flex-direction: row;
  height: 35px;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
}

.stack-title {
  color: rgb(60,91,120);
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}

.add-todo-to-stack-button {
  height: 25px;
  width: 25px;
  border: none;
}

.add-todo-to-stack-button img {
 width: 15px;
 margin-top: 2px;
 margin-right: 2px;
}

.add-todo-to-stack-button:hover {
  cursor: pointer;
}

.stack-list-container {
  border: 3px solid rgb(60,91,120);
  border-radius: 5px;
  max-height: 320px;
  min-height: 0px;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 260px;
  overflow-y: scroll;
}

.todo-container {
  background-color: rgb(60,91,120);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-of-todo {
  flex: 1;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 15px;
  color: white;
  font-weight: 700;
}

.more-info-of-todo {
  flex: 1;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5px;
  align-items: center;
}

.more-info-of-todo img {
  height: 20px;
  margin-right: 2px;
}

.deadline-date {
  color: white;
  font-size: 15px;
  display: inline;
  margin-left: 2px;
  padding-top: 2px;
}

.count-todo-in-stack-list {
  margin-left: 110px;
  height: 20px;
  text-align: start;
  padding-top: 7px;
  color: rgb(60,91,120);
  font-size: 15px;
  font-weight: bold;
}